<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Properties>
		<Property name="logPattern">[%d{dd-MM-yyyy - HH:mm:ss}] [%t] %c{1} - %m%n</Property>
		<Property name="dateTimePattern">${date:dd-MM-yyyy - HH-mm-ss}</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${logPattern}" />
		</Console>

		<File name="File" fileName="log4j2-output/logsAt ${dateTimePattern}.log" append="true">
			<PatternLayout pattern="${logPattern}" />
		</File>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>

</Configuration>